@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background-color: #f9fafb; 
  color: #2d3748;
}

.input-container {
  @apply flex items-center justify-center mt-16
}

.add-button {
  @apply bg-gradient-to-r from-green-700 to-green-500 px-3 py-3 text-white rounded-full
    hover:bg-green-600 font-bold shadow-lg transition-all duration-200 ease-in-out
}

.input-search {
  @apply p-3 border-2 border-gray-400 mx-3 rounded-lg shadow-sm 
   focus:ring-2 focus:ring-green-500 focus:border-transparent transition-all duration-200
}

.list-container {
  @apply flex flex-col m-8 items-center space-y-4;
}

.list-container li {
  @apply flex items-center w-full max-w-md py-4 px-4 bg-white rounded-lg shadow-md 
    hover:shadow-lg transition-all duration-200 ease-in-out justify-between;
}

.input-checkbox {
  @apply h-6 w-6 border-2 accent-green-700 rounded-lg cursor-pointer transition-all duration-200 
    focus:ring-2 focus:ring-green-500;
}

.items-list {
  @apply text-lg px-4 font-medium text-gray-800 flex-grow;
}

.delete-button {
  @apply bg-red-600 font-semibold text-white px-4 py-2 rounded-full 
    hover:bg-red-400 shadow-md transition-all duration-300 ease-in-out;
}

.empty {
  @apply text-2xl py-8 font-semibold text-orange-600 italic;
}

.header {
  @apply text-center text-4xl font-extrabold text-transparent bg-clip-text
    bg-gradient-to-r from-green-700 to-blue-700 shadow-lg p-6 rounded-full 
    w-full max-w-3xl mx-auto mt-6 mb-4 
    bg-gradient-to-b from-purple-500 to-pink-500; 
}

.radio-container {
  @apply flex items-center space-x-6 mt-8;
}

.radio-label {
  @apply text-lg font-semibold text-gray-700
}

.bg-gradient-body {
  @apply bg-gradient-to-b from-gray-100 via-gray-200 to-gray-100;
}

.flex-container {
  @apply flex flex-col items-center
}


@layer components {
  .input-checkbox:checked {
    @apply ring-2 ring-green-500; 
  }

  .radio-button:checked {
    @apply ring-2 ring-green-500; 
  }
}