@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background-color: black; 
}

.input-container {
  @apply flex items-center justify-center mt-16
}

.add-button {
  @apply bg-gradient-to-r from-green-700 to-green-500 px-3 py-4 text-white rounded-full
    hover:bg-green-600 font-bold shadow-lg transition-all duration-200 ease-in-out
}

.input-search {
  @apply p-3 border-2 border-gray-400 mx-3 rounded-lg shadow-sm w-full max-w-md
   focus:ring-2 focus:ring-green-500 focus:border-transparent transition-all duration-200
}

.list-container li {
  @apply flex items-center w-full max-w-md m-2 py-4 px-4 bg-gradient-to-r from-blue-500 to-purple-500 rounded-lg shadow-md hover:shadow-lg transition-all duration-200 ease-in-out justify-between;
}

.input-checkbox {
  @apply h-6 w-6 border-2 accent-green-700 rounded-lg cursor-pointer transition-all duration-200 
    focus:ring-2 focus:ring-green-500;
}

.items-list {
  @apply text-lg px-4 font-medium text-gray-800 flex-grow;
}

.delete-button {
  @apply bg-red-600 font-semibold text-white px-4 py-2 rounded-full 
    hover:bg-red-400 shadow-md transition-all duration-300 ease-in-out;
}

.empty {
  @apply text-2xl py-8 font-semibold text-transparent bg-clip-text 
    bg-gradient-to-r from-blue-500 to-purple-500 italic;
}

.header {
  @apply text-center text-4xl font-extrabold text-white 
  bg-gradient-to-r from-purple-600 to-pink-600 shadow-xl p-6 rounded-full 
  w-full max-w-3xl mx-auto mt-6 mb-4 bg-opacity-80;
}

.radio-container {
  @apply flex items-center space-x-6 mt-8;
}

.radio-label {
  @apply text-lg font-semibold text-gray-700
}

.bg-gradient-body {
  @apply bg-gradient-to-b from-gray-800 via-gray-600 to-gray-800;
}

.flex-container {
  @apply flex flex-col items-center
}

.how-to-use {
  @apply mt-6 p-4 rounded-lg bg-white bg-opacity-80 shadow-xl;
}

.how-to-use h2 {
  @apply text-xl font-semibold text-transparent bg-clip-text bg-gradient-to-r from-purple-600 to-pink-600 mb-2;
}

.how-to-use ol {
  @apply list-decimal list-inside text-gray-700 bg-gradient-to-r from-blue-300 to-blue-500 rounded-lg p-4;
}

.how-to-use li {
  @apply mb-2 bg-gradient-to-r from-purple-200 to-pink-200 p-2 rounded-md shadow-sm;
}

